@font-face{
    font-family: netflix-sans;
    src: url("NetflixSans-Bold.woff2");
}
@font-face{
    font-family: netflix-sanss;
    src: url("NetflixSans-Medium.woff2")
}
body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: #ffffff;
    font-family: "popins",sans-serif;
}
.root{
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.90)),url("header-image.png");
    height:80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    top:0;
    padding-top: 1;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   padding-left: 12vw;
    padding-right: 12vw;
    z-index: 10;
}
.img-logo{
    width:14%;
    color: #e50914;

}
.btn-logo{
    background-color: #e50914;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color:white;
    width:fit-content;
    cursor: pointer;
}
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 7px 15px;
    margin-right: 8px;
    border:1px solid #ffffff;
    color:#ffffff;
    border-radius:5px 5px;
}
.lang-btn img{
   width: 10px;
   margin-left: 10px;
}
.main-container{
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87%;
}
.main_title_container{
    color:white;
    width:70%;
    text-align: center;
    font-weight: 1000;
}
.heading{
    font-size: 50px;
    font-family: netflix-sans;
    position: relative;
    margin-bottom: 10px;
}
.sub_heading{
    font-family: netflix-sans;
    font-size: 24px;
    margin-bottom: 20px;
}
.para{
    font-family:netflix-sans;
    font-size: 20px;
}
.email_main_container{
    display: flex;
    padding-right: 30px;
    border-radius: 4px;
    overflow: hidden;
    width: 35%;
    height:10%;
}
.email_main{
    flex:1;
    outline: 0;
    margin-left: 20px;
    background: rgba(0,0,0,0.5);
    font-synthesis-weight: 10px;
    color: white;
    font-size: 15px;
    border: 2px solid white;
   padding: 10px 10px 10px 20px;
   margin: 0px 10px 0px 0px;

}
.btn_start{
    display: flex;
    background: #e50914;
    border:0;
    outline:0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 2px;
}
.separation{
    height:7px;
    background-color:rgb(46,44,44);
}
.first{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.secimg{
    position:relative;
}
.secimg img{
    width:500px;
    position: relative;
    z-index: 10;
    padding-bottom: 10px;

}
.secimg video{
    position:absolute;
    top:51px;
    right: 65px;
    width: 400px;
}
.secimgg{
    position:relative;
}
.secimgg img{
    width:580px;
    position: relative;
    z-index: 10;
    padding-bottom: 10px;

}
.secimgg video{
    position:absolute;
    top:40px;
    right: 120px;
    width: 350px;
}
.first h2{
    font-family: netflix-sans;
    font-size: 48px;
}
.first h3{
    font-family: netflix-sans;
    font-size: 20px;
}
.try{
    margin: 50px;
}
.faq h2{
    text-align: center;
}

.faqbox{
    margin:60px auto;
    width:50%;
    max-width: 700px;
}
.faqbox li{
    list-style: none;
    width:100%;
    padding: 5px;
}
.contain{
    transition:all 0.25s ease-in-out;
}
.faqbox li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-family:netflix-sans ;
    font-size: 18px;
    background: #2d2d2d;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.faqbox li label:hover{
    background-color: #414141;
}
label::after{
    content: '+';
    font-size: 24px;
    position: absolute;
    right: 20px;
    transition: transform 0.5sec;
    -webkit-transition: .4s;
  transition: .4s;
}
input[type="radio"]{
    display: none;
}
.faqbox .contain{
    background: #2d2d2d;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.faqbox input[type="radio"]:checked + label + .contain {
    max-height: 300px;
    padding: 10px 10px;
}

.faqbox input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}
.para_foot{
    text-align: center;
    margin-top:25px;
    padding-top: 25px;
    font-size: 17px;
    font-family:netflix-sanss ;
}
.foot-container{
    padding-bottom: 20px;
}
footer{
    color:white;
    max-width:60vw;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
}
footer span{
    font-size:11px;
    font-family: netflix-sanss;

}
.number{
    text-decoration: underline;
}
.footer{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
color: white;
max-width:60vw;
margin: auto;

}
footer a{
    color: #eee;
    text-decoration: underline;
    font-family:netflix-sanss ;
    font-size: 11px;
}

.footer_item{
display: flex;
flex-direction: column;
margin-top: 20px;
gap:23px;
}
.langg-btn img{
    width: 10px;
 }
 .langg-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 3px 3px;
    border:1px solid whitesmoke;
    color:#ffffff;
    border-radius:5px 3px;
    width: 80px;
    justify-content: space-between;
}
.last{
    color:white;
    font-family:netflix-sanss ;
    font-size: 10px;
    font-weight: 40;
}
@media screen and (max-width: 1000px){
    .first{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:50px;
    }
    .secimg img{
        width:350px;
    
    }
    .secimg video{
        width: 280px;
        right:8px;
    }
    .secimgg img{
        width:350px;
    
    }
    .secimgg video{
        width: 200px;
        right: 70px;
        bottom:300px;
    }
    .btn_start{
        display: flex;
        flex-direction: column;
        background: #e50914;
        border:0;
        outline:0;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    footer{
        max-width: 80vw;
    }
}